:root {
    --bg-color: #c5c3c6;
    --bg-header: #4c5c68;
    --bg-cell: #ededee;
    --bg-cell-hover: #d8e4e9;
    --bg-btn-hover: #3b4b57;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    min-height: 100vh;
}

body {
    font-family: "Varela Round", sans-serif;
    background-color: var(--bg-color);
}

.header {
    padding: 5px;
    background-color: var(--bg-header);
    border-bottom: 2px solid black;    
}

h1 {
    color: white;
    text-align: center;
    font-size: 80px;
}

.main {
    padding: 5px;
    height: calc(100vh - 108px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.play-game {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.game-message {
    font-size: 40px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
}

.game-board, .game-board-ai {
    height: 350px;
    width: 450px;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    border: 2px solid black;
    margin: 0px auto;
}

.board-cell, .board-cell-ai {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 90px;
    background-color: var(--bg-cell);
    cursor: pointer;
}

.board-cell:hover, .board-cell-ai:hover {
    background-color: var(--bg-cell-hover);
}

.game-restart {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 30px;
    gap: 40px;
}

.restart-button, .play-button, .back {
    padding: 10px 20px;
    border: none;
    font-size: 30px;
    border-radius: 10px;
    background-color: var(--bg-header);
    color: white;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.play-button {
    font-size: 40px;
}

.restart-button:hover, .play-button:hover, .back:hover {
    background-color: var(--bg-btn-hover);
}

/* MEDIA QUERIES */

@media (max-width: 660px) {
        h1 {
            font-size: 60px;
        }

        .game-message {
            font-size: 40px;
        }

        .restart-button, .back {
            font-size: 40px;
        }

        .game-board, .game-board-ai {
            width: 304px;
            height: 304px;
        }

}

@media (max-width: 420px) {
        .header {
            padding: 15px;
            height: 100px;
        }

        .main {
            height: calc(100vh - 100px);
        }
        
        .game-board, .game-board-ai {
            width: 330px;
            height: 330px;
        }


        h1 {
            font-size: 50px;
        }

        .play-game {
            flex-direction: column;
        }

        .game-message {
            font-size: 36px;
        }

        .play-button {
            font-size: 32px;
        }

        .restart-button, .back {
            font-size: 24px;
        }
}